.LoginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;

  .title,
  .error {
    margin-bottom: 10px;
  }
}

.input {
  margin-bottom: 10px;
}

.inputBtn {
  width: 250px;
}
