.app_dark_theme {
  --bg-color: #222f3e;
  --inverted-bg-color: #dfe6e9;
  --primary-color: #c8d6e5;
  --inverted-primary-color: #2d3436;
  --secondary-color: #ff6b6b;
  --inverted-secondary-color: #636e72;

  // card
  --card-bg: #303e52;

  // list box
  --list-box-bg: #303e52;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accept-redesigned: #5ed3f3;
}
