.app_dark_theme {
  --bg-color: #222f3e;
  --inverted-bg-color: #dfe6e9;
  --primary-color: #c8d6e5;
  --inverted-primary-color: #2d3436;
  --secondary-color: #ff6b6b;
  --inverted-secondary-color: #636e72;

  // card
  --card-bg: #303e52;

  // list box
  --list-box-bg: #303e52;
}
