:root {
  --bg-color: #dfe6e9;
  --inverted-bg-color: #222f3e;
  --primary-color: #2d3436;
  --inverted-primary-color: #c8d6e5;
  --secondary-color: #636e72;
  --inverted-secondary-color: #ff6b6b;

  // card
  --card-bg: #d2d4d5;

  // list box
  --list-box-bg: #d2d4d5;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accept-redesigned: #00c8ff;
}
