.app_red_theme {
  --bg-color: #fbf4f4;
  --inverted-bg-color: #ff3b3b;
  --primary-color: #ff3b3b;
  --inverted-primary-color: #fbf4f4;
  --secondary-color: #ff8370;
  --inverted-secondary-color: #ff8370;
}
