.app_red_theme {
  --bg-color: #fbf4f4;
  --inverted-bg-color: #ff3b3b;
  --primary-color: #ff3b3b;
  --inverted-primary-color: #fbf4f4;
  --secondary-color: #ff8370;
  --inverted-secondary-color: #ff8370;

  // card
  --card-bg: #e3dfdf;

  // list box
  --list-box-bg: #e3dfdf;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accept-redesigned: #1d59ff;
}
