.Input {
  display: inline-block;

  width: 100%;
  max-width: 400px;
  padding: 8px 15px;

  color: var(--primary-color);

  appearance: none;
  background: white;
  border: none;
  border-radius: 8px;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &::placeholder {
    color: var(--primary-color);
  }
}

.readonly {
  opacity: 0.5;
}
